@model ModelLayer.EmployeeModel

@{
    ViewData["Title"] = "Create";
}
<div class="header-content header">
    <div class="logo">
        <a class="icon"> <img src="~/assets/logo.png"></a>
        <div >
            <span class="emp-text">EMPLOYEE</span><br>
            <span class="emp-text payroll">PayrollApp</span>
        </div>
    </div>
</div>

@*<h1>Create</h1>

<h4>EmployeeModel</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Emp_id" class="control-label"></label>
                <input asp-for="Emp_id" class="form-control" />
                <span asp-validation-for="Emp_id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="EmpName" class="control-label"></label>
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profileimage" class="control-label"></label>
                <div class="profile-radio-content profile-control"></div>
                        @Html.RadioButtonFor(model => model.Profileimage, "~/assets/Male (1).png")
                        <img class="Profile-image-1 " src = "~/assets/Male (1).png"  />
                        @Html.RadioButtonFor(model => model.Profileimage, "~/assets/Male (2).png")
                        <img class="Profile-image-1 " src = "~/assets/Male (2).png"  />
                        @Html.RadioButtonFor(model => model.Profileimage, "~/assets/Female (3) .png")
                        <img class="Profile-image-1 " src = "~/assets/Female (3) .png" />
                        @Html.RadioButtonFor(model => model.Profileimage, "~/assets/Female (5).png")
                        <img class="Profile-image-1 " src = "~/assets/Female (5).png"  />
                <div/>
                @*<input asp-for="Profileimage" class="form-control" />*@
                <span asp-validation-for="Profileimage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control" >
                    <option>Male</option> 
                    <option>Female</option> 
                </select>
             </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <select asp-for="Department" class="form-control" >
                    <option>HR</option> 
                    <option>Sales</option>
                    <option>Finance</option>
                    <option>Engineer</option>
                    <option>Others</option>
                </select>
                @*<input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" placeholder="Notes..." style="height:100px" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

